body {
  background-image: url("https://i.giphy.com/media/4heseFMvObk9q/giphy.webp");
}

#texttotranslate,
#translatedtext {
  resize: none;
  width: 450px;
  height: 450px;
  font-family: "hack";
  background-color: #540e33;
  color: #d58936;
  border-color: #540e33;
  border-radius: 5%;
  margin: 20px;
  padding: 20px;
}

#texttotranslate {
  position: absolute;
  top: 40px;
  left: 115px;
}
#translatedtext {
  position: absolute;
  top: 40px;
  left: 675px;
}
#texttotranslate::placeholder,
#translatedtext::placeholder {
  color: #ffcece;
}

#texttotranslate:focus-visible,
#translatedtext:focus-visible {
  border-color: #540e33;
}

.clearButton {
  background-color: #ea4c4c;
  border: none;
  border-radius: 8%;
  color: white;
  padding: 6px;
  font-size: 17px;
}
.translateButton {
  background-color: #ffffff;
  border: none;
  border-radius: 8%;
  color: #000000;
  padding: 6px;
  font-size: 17px;
}
.title {
  color: white;
  font-family: "Noto Sans", sans-serif;
  font-size: 80px;
  margin: 10px;
  position: absolute;
  left: 290px;
  top: 550px;
}
.title::selection {
  background: red;
}

/* RESPONSIVE */
@media screen and (max-width: 1000px) {
    #texttotranslate,
    #translatedtext {
      resize: none;
      width: 240px;
      height: 240px;
      font-family: "hack";
      background-color: #540e33;
      color: #d58936;
      border-color: #540e33;
      border-radius: 5%;
      margin: 20px;
      padding: 20px;
    }
  
    #texttotranslate {
      position: absolute;
      top: 25px;
      left: 70px;
    }
    #translatedtext {
      position: absolute;
      top: 25px;
      left: 420px;
    }
    .title {
      color: white;
      font-family: "Noto Sans", sans-serif;
      font-size: 40px;
      position: absolute;
      left: 210px;
      top: 325px;
    }    
}


@media screen and (max-width: 800px) {
    #texttotranslate,
    #translatedtext {
      resize: none;
      width: 250px;
      height: 250px;
      font-family: "hack";
      background-color: #540e33;
      color: #d58936;
      border-color: #540e33;
      border-radius: 5%;
      margin: 20px;
      padding: 20px;
    }
  
    #texttotranslate {
      position: absolute;
      top: 60px;
      left: 30px;
    }
    #translatedtext {
      position: absolute;
      top: 380px;
      left: 30px;
    }
    .title {
      color: white;
      font-family: "Noto Sans", sans-serif;
      font-size: 35px;
      position: absolute;
      left: 20px;
      top: 720px;
    }
  }

